{% load static %} {% include 'Header.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us | Luxury Stay</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body style="background-color: rgb(217, 214, 218)">
    {%for a in about%}
    <div class="container-fluid mt-5 bg-white">
      <h1 class="text-center mb-4 text-primary">{{a.header1}}</h1>
      <p class="lead text-center">{{a.header1_des}}</p>

      <h2 class="mt-4">{{a.header2}}</h2>
      <p>{{a.header2_des}}</p>

      <h2 class="mt-4">{{a.header3}}</h2>
      <ul>
        <li>{{a.header3_des1}}</li>
        <li>{{a.header3_des2}}</li>
        <li>{{a.header3_des3}}</li>
        <li>{{a.header3_des4}}</li>
      </ul>

      <h2 class="mt-4">{{a.header4}}</h2>
      <p>{{a.header4_des}}</p>

      <h2 class="mt-4">{{a.header5}}</h2>
      <p>
        {{a.header5_des}}
        <a href="/Contact" class="btn btn-primary">Contact Us</a>
      </p>
      <hr />
    </div>
    {%endfor%}
  </body>
</html>
{%include 'Footer.html'%}
